
@font-face {
    font-family: 'Libre Baskerville';
    src: url(fonts/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2);
}

@font-face {
    font-family: 'Juliussansone';
    src: url(fonts/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2);  
}

@font-face {
    font-family: 'Libre Baskerville Italics';
    src: url(fonts/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2);
}

@font-face {
    font-family: 'Verde Moderna';
    src: url(fonts/verdemoderna.woff);
}

html{
    margin: 0px;
    padding: 0px; 
}

body{
    margin: 0px;
    padding: 0px;
}

.thinGreen{
    width: 100%;
    height: 10px;
    background-color: #325050;
}

h1{
    font-family: 'Juliussansone';
    margin-top: 15px;
    font-weight: 100;
    font-size: 1.75em;
    margin-bottom: 10px;
}

h2{
    font-family: 'Libre Baskerville Italics';
    font-weight: 100;
    font-size: 1.1em;
    color: rgba(255, 255, 255, .6);
    margin-top: 0px;
}

h3{
    font-family: 'Juliussansone';
    font-size: 1.2em;
    font-weight: 100;
    padding-left: 10%;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #325050;
}

h4{
    font-family: 'Juliussansone';
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, .6)
}

p{
    font-family: "Libre Baskerville";
    padding-left: 10%;
    padding-right: 10%;
    font-size: .83em;
    line-height: 2.2em;
    color: #325050;
}

#logo{
    height: 21%;
    margin-top: 20px;
    opacity: .6;
}

#banner{
    background:   
        url(images/contours-opaque.png) 0px 0px repeat, 
        url(images/gridlines.png) 0px 0px repeat, 
        url(images/huntington.jpg) 0px 0px no-repeat;
    background-size: 200px 200px, 200px 200px, cover;
        
    color: white;
    height: 240px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#designsContainer{
    display: flex;
    width: 100%;
    position: relative;
    top: 13px;
 
}

#designsBanner{
    transition-timing-function: ease-out;
    transition: .5s;
    background-color: rgba(255, 255, 255, .1);
    width: 70%;
    height: 70px;
    color: white;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 0px; 
}

#designsBanner:hover{
    transition-timing-function: ease-in;
    transition: .5s;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.arrows{
    transition-timing-function: ease-out;
    transition: .5s;
    background-color: rgba(255, 255, 255, .1);
    height: 70px;
    width: 14%;
    display: flex;
    flex: 1;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-weight: bolder;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.arrows:hover{
    transition-timing-function: ease-in;
    transition: .5s;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.downloadIcon{
    transition-timing-function: ease-out;
    transition: .5s;
    display: inline-block;
    width: 2%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 1%;
    color: rgba(138, 188, 159);
    border: 1px solid rgba(138, 188, 159);
    padding: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.downloadIcon:hover{
    transition-timing-function: ease-in;
    transition: .5s;
    background-color: #0599c2;
    color: #fff;
}

.htmlcssDownloadLink{
    transition-timing-function: ease-out;
    transition: .5s;
    cursor: pointer;
    color: rgba(138, 188, 159);
    font-family: 'Juliussansone';
    font-size: 110%;
    padding: 5px;
    padding-top: 13px;
}
.htmlcssDownloadLink:hover{
    transition-timing-function: ease-in;
    transition: .5s;
    color: #FFF;
    background-color: #0599c2;
}

.pLinkHover{
    color: #0599c2;
    cursor: pointer;
}

.pLinkHover:hover{
    text-decoration: underline;
    cursor: pointer;
}

.bamboo{
    background: 
    url(images/contours-opaque.png) 0px 0px repeat, 
    url(images/gridlines.png) 0px 0px repeat,   
        url(images/bamboo.png);
    background-color: rgba(138, 188, 159, .5);
    background-attachment: fixed;
    padding-bottom: 25px;
    padding-top: 1px;
}

.footer{
    background:   
        url(images/contours-opaque.png) 0px 0px repeat, 
        url(images/gridlines.png) 0px 0px repeat, 
        url(images/koi.jpg) 0px 0px no-repeat;
    background-size: 200px 200px, 200px 200px, cover;
    height: 220px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.footerParagraph{
    color: rgba(255, 255, 255, .5);
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Libre Baskerville Italics';
    font-size: 1.3em;
    text-align: center;
}

.footerHighlights{
    color: rgba(255, 255, 255, .8);
    font-family: "Libre Baskerville";
    font-size: 1.1em;
    padding: 0px;
}

.footerHighlights:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footerLinks{
    background-color: #134347;
    width: 100%;
    height: 110px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconLink{
    transition-timing-function: ease-out;
    transition: .5s;
    font-size: 2.3em;
    color: rgba(255, 255, 255, .5);
    font-family: 'Verde Moderna';
    background: #134347;
    border-radius: 50%;
    margin: 2.7%;
}

#iconLink:hover{
    transition-timing-function: ease-in;
    transition: .5s;
    background: rgba(255, 255, 255, .5);
    color: #134347;
    cursor: pointer;
}

.creditsTitle{
    font-family: 'Juliussansone';
    font-size: 1em;
    padding: 0px;
    color: #607476;  
}

.creditsTitle:hover{
    cursor: pointer;
    color: #357d93;
}

.creditsBy{
    color: #607476;
    font-family: 'Libre Baskerville Italics';
    font-size: .8em;
    padding: 0px;
    opacity: .4;
}
.creditsName{
    font-family: "Libre Baskerville";
    font-size: .8em;
    padding: 0px;
    color: #607476; 
}

.creditsName:hover{
    cursor: pointer;
    color: #357d93;
}

.creditsContainer{
    padding: 0px;
    margin: 0px;
    width: 90%;
    background: #edf4f0; 
    display: grid;
    padding-bottom: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 10%;
}

.nameDiv{
    padding-top: 20px;
    width: 80%;
}

#floral{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 2.5em;
    margin-left: -2.5em;
    padding-right: 2.5em;
    margin-right: -2.5em;
}

#leggo{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 2.5em;
    margin-left: -2.5em;
    padding-right: 2.5em;
    margin-right: -3em;  
}

#eleganceInSimplicity{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 2.5em;
    margin-left: -2.5em;
    padding-right: 2.5em;
    margin-right: -2.5em;
}

#lugozee{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 2.5em;
    margin-left: -2.5em;
    padding-right: 2.5em;
    margin-right: -2.5em;
}

#dazzlingBeauty{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 2.5em;
    margin-left: -2.5em;
    padding-right: 2.5em;
    margin-right: -2.5em;
}

#darkRose{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 2.5em;
    margin-left: -2.5em;
    padding-right: 2.5em;
    margin-right: -2.5em;
}

.designsFooter{
    background:   
        url(images/contours-opaque.png) 0px 0px repeat, 
        url(images/gridlines.png) 0px 0px repeat, 
        url(images/bamboo.png) 0px 0px no-repeat;
    background-size: 200px 200px, 200px 200px, cover;  
    background-color: rgba(138, 188, 159, .5);
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    padding-left: 10%;
    padding-top: 1%;
    grid-column-gap: 0%;
    align-content: center;
    align-items: center;
    padding-bottom: 0%;
    margin-bottom: 0px;
}

.designLink{
    font-family: 'Juliussansone';
    font-size: 1em;
    padding: 0px;
    color: #607476;  
}

.designLink:hover{
    cursor: pointer;
    color: #357d93;
}

#viewThisDesign{
    line-height: 20px;
    border-bottom: #a0b9ad solid 1px;
    padding-left: 3em;
    margin-left: -3em;
    padding-right: 3em;
    margin-right: -3em;
    padding: 0px;
    margin: 0px;
    padding-bottom: 7px;
}

#resource{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 3em;
    margin-left: -3em;
    padding-right: 3em;
    margin-right: -3em;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
}

#faq{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 3em;
    margin-left: -3em;
    padding-right: 3em;
    margin-right: -3em;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
}

#submitDesign{
    border-bottom: #a0b9ad solid 1px;
    padding-left: 3em;
    margin-left: -3em;
    padding-right: 3em;
    margin-right: -3em;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
}

#translations{
    padding-left: 3em;
    margin-left: -3em;
    padding-right: 3em;
    margin-right: -3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
}

#none{
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
}

@media (max-width: 320px) {
    .designsFooter{
        grid-template-columns: 1fr;
        padding-top: 0%;
        
    }
    #translations{
        padding: 0px;
        margin: 0px;
        padding-bottom: 0px;
    }
    #submitDesign{
        padding: 0px;
        margin: 0px;
    }
    #faq{
        padding: 0px;
        margin: 0px;
    }
    #resource{
        padding: 0px;
        margin: 0px;
    }
    #viewThisDesign{
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
    }
    .creditsContainer{
        grid-template-columns: 1fr;
        
    }
    #theDiary{
        border-bottom: #a0b9ad solid 1px;
        padding-left: 3em;
        margin-left: -3em;
        padding-right: 3em;
        margin-right: -3em;
        padding-bottom: 20px;
    }
    #darkRose{
        padding-bottom: 20px;
    }
    #dazzlingBeauty{
        padding-bottom: 20px;
    }
    #lugozee{
        padding-bottom: 20px;
    }
    #eleganceInSimplicity{
        padding-bottom: 20px;
    }
    #leggo{
        padding-bottom: 20px;
    }
    #floral{
        padding-bottom: 20px;

    }
    #lonelyFlower{
        padding-bottom: 20px;
    }
    .designsFooter{
        padding-left: 10%;
        
    }
    span{
        font-size: 1.8em;
    }
    .footerParagraph{
        font-size: 1em;
        line-height: 2em;
        padding-bottom: 10px;
    }
    .footerHighlights{
        font-size: 1em;
    }
    .footerLinks{
        height: 82px;
    }
    .footer{
        height: 125px;
    }
    .pLinkHover{
        font-size: 1em;
    }
}

@media (min-width: 1023px) {
    #pageContainer{
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-template-areas: 
        'thin thin'
        'banner banner'
        'intro credits'
        'bamboo designsFooter'
        'requirements empty'
        'footer footer'
        'footerL footerL';
    }
    #topThinGreen{
        grid-area: thin;
    }
    #banner{
        grid-area: banner;
        overflow: hidden;
    }
    #bannerGlass{
        background-color: rgba(255, 255 , 255, .05);
        height: 310px;
        width: 33.333%;
        position: absolute;
        right: 0px; 
    }
    #intro{
        grid-area: intro;
        padding-left: 0%;
        padding-right: 0%;
        margin-right: 0px;
    }
    #allCredits{
        grid-area: credits;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        width: 90%;
    }
    #bambooDiv{
        grid-area: bamboo;
        padding-left: 0%;
    }
    #designsFooterDiv{
        grid-area: designsFooter;
        background-color: rgba(138, 188, 159, .7);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 15%;
        font-size: 110%;
        width: 90%;
    }
    #requirements{
        grid-area: requirements;
        padding-left: 0%;
    }
    #emptySide{
        grid-area: empty;
        background-color: #edf4f0;
    }
    #footerBottom{
        grid-area: footer;
        height: 320px;
        display: flex;
        align-items: center;
    }
    #footerLinksBottom{
        grid-area: footerL;
        padding-left: 0%;
        height: 176px;
        font-size: 175%;
    }
    .footerParagraph{ 
        font-size: 180%;
        padding: 0px;
        width: 70%;
        padding-right: 20%;
        padding-left: 10%;
    }
    #iconLink{
        margin: 2.7%;
    }
    .creditsTitle{
        font-size: 110%;
    }
    .creditsBy{
        font-size: 103%;
    }
    .creditsName{
        font-size: 95%;
    }
    #theDiary{
        border-bottom: #a0b9ad solid 1px;
        padding-left: 3em;
        margin-left: -3em;
        padding-right: 3em;
        margin-right: -3em;
        padding-bottom: 20px;
    }
    #floral{
        padding-top: 10%;
    }
    #logo{
        height: 30%;
        margin-top: 20px;
        opacity: .6;
    }
    #banner{
        height: 310px;
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        grid-template-areas: 
        'logo heading viewDesigns'
        'logo heading2 viewDesigns';
    }
    #heading{
        grid-area: heading;
        font-size: 300%;
        align-self: flex-end;
        padding-left: 3%;
    }
    #logo{
        height:55%;
        margin-top: 0px;
        opacity: .6;
        grid-area: logo;
        align-self: center;
        padding-left: 40%;
    }
    #heading2{
        grid-area: heading2;
        align-self: flex-start;
        padding-left: 3%;
        font-size: 150%;
    }
    #designsContainer{
        align-self: center;
        grid-area: viewDesigns;
        width: 85%;
        margin-left: 5%;
    }
    .arrows{
        height: 70px;;
        align-content: center;
        margin: 1px;
        display: flex;
        justify-contents: center;
    }
    #designsBanner{
        height: 70px;
        padding: 0px;
        width: 65%;
    }
    h3{
        font-size: 1.9em;
    }
    h4{
        font-size: 60%;
        padding: 0px;
        margin: 0px;  
    }
    p{
        font-size: 1em;
    }
    #viewAllDesignsTag{
        font-size: 120%; 
    }
    #viewThisDesign{
        padding-bottom: 2%;
    }
    #resource{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #faq{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #submitDesign{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #translations{
        padding-top: 2%;
        padding-bottom: 2%;
    }
}